@using MulticluehnSolution.EntityModel;
@model CrowdfundingPlanEntityModel
@{
    ViewBag.Title = "更改众筹计划";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>修改众筹计划</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ShortAlias, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ShortAlias, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ShortAlias, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CrowdfundingPlan, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.CrowdfundingPlan)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CrowdfundingAmount, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.CrowdfundingAmount, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CrowdfundingAmount, "", new { @class = "text-danger" })
        </div>
    </div><div class="form-group">
        @Html.LabelFor(m => m.Percentage, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Percentage, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Percentage, "", new { @class = "text-danger" })
        </div>
    </div><div class="form-group">
        @Html.LabelFor(m => m.Prerelease, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Prerelease, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Prerelease, "", new { @class = "text-danger" })
        </div>
    </div><div class="form-group">
        @Html.LabelFor(m => m.BegingDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.BegingDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BegingDate, "", new { @class = "text-danger" })
        </div>
    </div><div class="form-group">
        @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.EndDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10" style="display:none;">
            @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Content/ueditor/ueditor.config.js", "~/Content/ueditor/ueditor.all.js");
    <script type="text/javascript">
    var editorOption = {
        initialFrameWidth: 784,
        initialFrameHeight: 400
    };
    var editor = new baidu.editor.ui.Editor(editorOption);
    editor.render('CrowdfundingPlan');
    $('form').submit(function () {
        $('#CrowdfundingPlan').val(editor.getContent());
    });
    </script>
}